<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>
        Food Image Recognition<br />And<br />Nutrition Viusalization System
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Introduction</h2>
          <p>
            Each year, approximately 6,78,000 deaths are caused in the United
            States of America due to unhealthy diet. A typical American diet is
            too high in calories, fat, sugars, sodium, etc. Hence, people have
            became more proactive when it comes to health matters. Services like
            eating habit recorder and calorie/nutrition calculator have became
            extremely popular. They can make users aware of problems like
            obesity, cancer, diabetes, heart-disease, etc. that can be caused by
            unhealthy diets. Most of these services require the users to
            manually select a food item from a hierarchical menu which is a time
            consuming process and not so user friendly.
          </p>
          <p>
            An user-interactive system that takes food images as an input,
            recognizes the food automatically and gives the nutritional-facts as
            an output will save a lot of time.
          </p>
          <h3>Click here to start!</h3>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="/recognize"
                >Food Image Recognition & Nutrition Viusalization System</a
              >
            </li>
          </ul>
          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-6">
          <img
            src="{{ img }}"
            alt="food photo"
            width="550"
            height="400"
          />
        </div>
      </div>
    </div>
  </body>
</html>
