<!DOCTYPE html>
<html>
  <head>
    <title>Food Recognition & Nutrition Visualization</title>
    <script type="text/javascript" src="jquery.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
     <style type="text/css">
     .form-inline{
        margin: auto;
        width: 1000px;
        padding: 50px;
     }
     .form-group{
        margin: auto;
     }
     </style>
  </head>

  <body>
    <div class="jumbotron text-center">
      <p style="font-size: 40px" face="verdana">
        Upload the food images here and click on Recognize.
      </p>
    </div>

    <div class="form-inline">
      <h2>Upload food images.</h2>
      <form  method="POST" action="/upload" enctype="multipart/form-data">
        <input class="form-control" type="file" name="img" multiple />
        <input class="btn btn-primary" type="submit" />
      </form>
        <div class="form-group">
            <form action="/predict">
        <input class="btn btn-primary" type="submit" class="sub" value="Recognize" />
      </form>
        </div>
    </div>
    </body>
</html>
